<div class="container-fluid">

    <div class="row">

        <!-- Hands -->
        <div class="col-xs-4">
            <div class="panel grey-border" ng-repeat="player in gameData.colleagues">
                <div class="panel-body">
                    <span>{{player}}:</span>
                    <div class="flexrow">
                        <div class="card-container" ng-repeat="card in gameData.hands[player]">
                            <img class="card2" ng-src="img/blank.png" ng-if="!card">
                            <img class="card2" ng-src="img/cards/{{card.color}}{{card.number}}.png" style="transform: rotate({{card.angle}}deg);">
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>

            <div class="panel grey-border">
                <div class="panel-body">
                    <span>Your Hand:</span>
                    <div class="flexrow">
                        <div class="card-container" ng-repeat="card in gameData.your_cards_angles">
                            <img class="card2" ng-src="img/blank.png" ng-if="card.noCard">
                            <img class="card2" ng-src="img/tree.png" style="transform: rotate({{card.angle}}deg);" ng-click="actionCard(card.index)" ng-if="!card.noCard && !highlighted[card.index]">
                            <img class="card-blue" ng-src="img/tree.png" style="transform: rotate({{card.angle}}deg);" ng-click="actionCard(card.index)" ng-if="!card.noCard && highlighted[card.index]">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Board -->
        <div class="col-xs-4">

            <div class="panel grey-border">
                <div class="panel-heading grey-heading">
                    <span>Played:</span>
                </div>
                <div class="panel-body">
                    <div class="flexrow">
                        <div class="card-container" ng-repeat="color in ['black', 'red', 'blue']">
                            <img class="card2" ng-src="img/blank.png" ng-if="gameData.found[color] === 0">
                            <img class="card2" ng-src="img/cards/{{color}}{{gameData.found[color]}}.png" ng-if="gameData.found[color] != 0">
                        </div>
                    </div>

                    <div class="flexrow">
                        <div class="card-container" ng-repeat="color in ['green', 'multicolor', 'yellow']">
                            <img class="card2" ng-src="img/blank.png" ng-if="gameData.found[color] === 0">
                            <img class="card2" ng-src="img/cards/{{color}}{{gameData.found[color]}}.png" ng-if="gameData.found[color] != 0">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel grey-border">
                <div class="panel-body">
                    <div class="row">
                        <div class="flexrow">
                            <div class="col-xs-12 col-lg-6 no-padding">
                                <div class="flexrow-right">
                                    <div>
                                        Warnings:
                                    </div>
                                    <div class="margin-left-small">
                                        <i class="fa fa-times icon-margin" style="color:#ff0000;" ng-repeat="index in [1, 2, 3]" ng-if="index <= gameData.warnings"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-lg-6 no-padding">
                                <div class="flexrow-right">
                                    <div>
                                        Infos:
                                    </div>
                                    <div class="margin-left-small" style="max-width:95px;">
                                        <i class="fa fa-info-circle icon-margin" style="color:#002DB3;" ng-repeat="index in [1, 2, 3, 4, 5, 6, 7, 8]" ng-if="index <= gameData.informations"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel grey-border">
                <div class="panel-heading grey-heading">
                    Discarded
                </div>
                <div class="panel-body">
                    <div ng-repeat="index1 in [0, 7, 14, 21, 28, 35, 42, 49]">
                        <div class="flexrow" ng-if="index1 < gameData.discarded.length">
                            <div class="card-container" ng-repeat="index2 in [0, 1, 2, 3, 4, 5, 6 ]">
                                <img class="card-no-border" ng-src="img/blank.png" ng-if="index1 + index2 >= gameData.discarded.length">
                                <img class="card2" ng-src="img/cards/{{gameData.discarded[index1+index2].color}}{{gameData.discarded[index1+index2].number}}.png" ng-if="index1 + index2 < gameData.discarded.length">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <!-- Chat -->
        <div class="col-xs-4">
            <div class="panel grey-border">
                <div class="panel-heading grey-heading">
                    Chat
                </div>
                <div class="panel-body">

                    <div style="padding-bottom:15px;">
                        <form ng-submit="send()">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                <input type="text" ng-model="toSend.text" class="form-control" placeholder="Type here...">
                            </div>
                        </form>
                    </div>

                    <div class=" margin-left-small" >
                        <div ng-repeat="data in messages">
                            <span style="font-weigth: 600; color: #387EF5;">
                                {{data.pseudo}}:
                            </span>
                            <span class="margin-left-small">
                                {{data.message}}
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
