
body {
    background-color: #E0E0E0;
    font-family: 'Jaldi', sans-serif;
    font-size: large;
    font-weight: 400;
}

.title {
    font-family: 'Carter One', cursive;
    font-size: 70px;
}

.heading: {
    font-family: 'Carter One', cursive;
}

.flexrow {
	display: flex;
	flex-flow: row nowrap;
    justify-content: space-between;
	align-items: center;
}

.flexrow-right {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.card2 {
    width: 100%;
    margin: 0;
    border: #DDDDDD solid 1px;
}

.card-blue {
    width: 100%;
    margin: 0;
    border: #387EF5 solid 1px;
}

.card-no-border {
    width: 100%;
    margin: 0;
}

.card-container {
    margin: 5px;
}

.icon-margin {
    margin: 0 3px;
}

.grey-heading {
    background-color: #6A6A69;
    color: #FFFFFF;
    font-weight: 900;
}

.grey-border {
    border-color: #6A6A69;
}

.blue {
    background-color: #4CCEED;
}

.blue-border {
    border-color: #4CCEED;
}

.center {
    text-align: center;
}

.right {
	text-align: right;
}

.margin-top-small {
    margin-top: 10px;
}

.margin-left-small {
    margin-left: 10px;
}

/*
.panel-grey {
    border-color: #6A6A69;
}

.panel-grey-heading {
    background-color: #6A6A69;
    .title2();
    font-weight: normal;
    color: #FFFFFF;
}

.panel-blue {
    border-color: #4CCEED;
}

.panel-heading-blue {
    background-color: #4CCEED;
    .title2();
    font-weight: normal;
    color: #FFFFFF;
}

.button-blue {
    .title2();
    background-color: #4CCEED;
    color: #FFFFFF;
    font-weight: 400;
    padding: @padding-small @padding;
    margin: @margin-small 5px;
    border: none;
    border-radius: @border-radius-small;
    &:disabled {
        background-color: @light-grey;
        color: @dark-grey;
        cursor: not-allowed;
    }
    &:focus {
        color: #FFFFFF;
    }
    &:hover {
        color: #FFFFFF;
    }
    &.yellow {
        background-color: #00000;
    }
}
*/
